#eggHatch {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/egg_hatching_sprite_sheet.png') 0px 0px;
}

#birdBathroom {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_bathroom_sprite_sheet.png') 0px 0px;
}

#birdBored {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_bored_sprite_sheet.png') 0px 0px;
}

#birdDefault {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_default_sprite_sheet.png') 0px 0px;
}

#birdExercise {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_exercise_sprite_sheet.png') 0px 0px;
}

#birdFatigue {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_fatigue_sprite_sheet.png') 0px 0px;
}

#birdHungry {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_hungry_sprite_sheet.png') 0px 0px;
}

#birdLove {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_love_sprite_sheet.png') 0px 0px;
}

#birdRip {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_rip_sprite_sheet.png') 0px 0px;
}

#birdSick {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/bird_sick_sprite_sheet.png') 0px 0px;
}

#fishBathroom {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_bathroom_sprite_sheet.png') 0px 0px;
}

#fishBored {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_bored_sprite_sheet.png') 0px 0px;
}

#fishDefault {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_default_sprite_sheet.png') 0px 0px;
}

#fishExercise {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_exercise_sprite_sheet.png') 0px 0px;
}

#fishFatigue {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fishFatigue_sprite_sheet.png') 0px 0px;
}

#fishHungry {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_hungry_sprite_sheet.png') 0px 0px;
}

#fishLove {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_love_sprite_sheet.png') 0px 0px;
}

#fishRip {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_rip_sprite_sheet.png') 0px 0px;
}

#fishSick {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fish_sick_sprite_sheet.png') 0px 0px;
}

#mammalBathroom {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_bathroom_sprite_sheet.png') 0px 0px;
}

#mammalBored {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_bored_sprite_sheet.png') 0px 0px;
}

#mammalDefault {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_default_sprite_sheet.png') 0px 0px;
}

#mammalExercise {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_exercise_sprite_sheet.png') 0px 0px;
}

#mammalFatigue {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_fatigue_sprite_sheet.png') 0px 0px;
}

#mammalHungry {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_hungry_sprite_sheet.png') 0px 0px;
}

#mammalLove {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_love_sprite_sheet.png') 0px 0px;
}

#mammalRip {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_rip_sprite_sheet.png') 0px 0px;
}

#mammalSick {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/mammal_sick_sprite_sheet.png') 0px 0px;
}

#turtleBathroom {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_bathroom_sprite_sheet.png') 0px 0px;
}

#turtleBored {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_bored_sprite_sheet.png') 0px 0px;
}

#turtleDefault {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_default_sprite_sheet.png') 0px 0px;
}

#turtleExercise {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_exercise_sprite_sheet.png') 0px 0px;
}

#turtleFatigue {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_fatigue_sprite_sheet.png') 0px 0px;
}

#turtleHungry {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_hungry_sprite_sheet.png') 0px 0px;
}

#turtleLove {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_love_sprite_sheet.png') 0px 0px;
}

#turtleRip {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_rip_sprite_sheet.png') 0px 0px;
}

#turtleSick {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/turtle_sick_sprite_sheet.png') 0px 0px;
}

#clean {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/clean_sprite_sheet.png') 0px 0px;
}

#exercise {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/exercise_sprite_sheet.png') 0px 0px;
}

#fatigue {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/fatigue_sprite_sheet.png') 0px 0px;
}

#feed {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/feed_sprite_sheet.png') 0px 0px;
}

#love {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/love_sprite_sheet.png') 0px 0px;
}

#rip {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/rip_sprite_sheet.png') 0px 0px;
}

#sick {
  height: 320px;
  width: 640px;
  background: url('sprite-sheet/sheet/sick_sprite_sheet.png') 0px 0px;
}
