*, *:before, *:after {
    box-sizing: inherit;
} 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #512da8;
    letter-spacing: 0.25px;
}

.background {
    position: center;
   /* margin-top: 30px;*/
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}

.topic {
font-family: 'Indie Flower', cursive;
font-weight: 900;
color: darkslateblue;
font-size: 28px;
font-weight: bold;
line-height: 25px;
white-space: wrap;
  overflow: visible;
  text-overflow: ellipsis;

}

.subtitle {
font-size: 18px;
font-style: italic;
color:goldenrod;
text-shadow: 0px 1px black;
line-height: 15px;
}
.clause {
    font-size: 11.5px;
}

li {
    display:list-item
}

main {
    flex: 1 0 auto;
}

.active {
  display: none;
}  

.container {
    margin-top: 30px;
    max-width: 500px;
}

.body-container {
    margin-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list {
  margin: 0;
}

.list li {
  padding: 0 16px;
}
#logo {
/* todo not truly centered, not sure how this'll do on mobile */
margin-left: 0.5em;
margin-top: 0.5em;
}
  
/*.waves-effect {
    width: 100%;
}
  
.subheader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.75rem 16px;
}
  
.list-divider {
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-right: 16px;
    margin-left: 75px;
}
  
.list {
    margin: 0;
}
  
.list li {
    padding: 0 16px;
}
  
.list li .valign-wrapper {
    min-height: 72px;
}
  
.list i.circle {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.26);
}
  
.list .title span {
    color: rgba(0, 0, 0, 0.54);
}
  
.ml-auto {
    margin-left: auto;
}
  
i.ml-auto {
    color: rgba(0, 0, 0, 0.26);
}*/
  
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:50%;  
  }
/* ////////////////////////////// FOOTER //////////////////////////////*/

.copyright {
    float:left; 
    margin-left: 25px;
  }
  
    
  .list-footer  {
    height: 80px;
  }
  
  .footer-copyright  {
    height: 60px;
    color: white;
  }
  
  .footer-link {
    float: right; 
    margin-right: 10px;
    color: white;
  }
  
  #instructions {
    color: white;
    margin-right: 20px;
  }
  
  /* unvisited link */
  .link a:link {
    color: white;
  }
  
  /* visited link */
  .link a:visited {
    color: white;
  }
  
  /* mouse over link */
  .link a:hover {
    color: white;
  }
  
  /* selected link */
  .link a:active {
    color: white;
  }