*, *:before, *:after {
    box-sizing: inherit;
} 

body.list {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain, cover;
    background-color: #512da8;
    background-size: 100% 100%;
  }

body {
    background-color: #f2f2f2;
    letter-spacing: 0.25px;
}
  
.container {
    margin-top: 30px;
    max-width: 500px;
}
  
.card {
    overflow: auto;
}
  
.waves-effect {
    width: 100%;
}
  
.subheader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.75rem 16px;
}
  
.list-divider {
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-right: 16px;
    margin-left: 75px;
}
  
.list {
    margin: 0;
}
  
.list li {
    padding: 0 16px;
}
  
.list li .valign-wrapper {
    min-height: 72px;
}
  
.list i.circle {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.26);
}
  
.list .title span {
    color: rgba(0, 0, 0, 0.54);
}
  
.ml-auto {
    margin-left: auto;
}
  
i.ml-auto {
    color: rgba(0, 0, 0, 0.26);
}
  





  
/* ////////////////////////////// FOOTER //////////////////////////////*/
  
footer {
    position: relative;
    overflow: hidden;
    bottom:0;
    left:0;
    width:100%;
}
