*, *:before, *:after {
    box-sizing: inherit;
} 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #512da8;
    letter-spacing: 0.25px;
}

main {
    flex: 1 0 auto;
}

.active {
  display: none;
}  

.container {
    margin-top: 30px;
    max-width: 500px;
}
  
.card {
    overflow: auto;
}
  
.waves-effect {
    width: 100%;
}
  
.subheader {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0.75rem 16px;
}
  
.list-divider {
    border: 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin-right: 16px;
    margin-left: 75px;
}
  
.list {
    margin: 0;
}
  
.list li {
    padding: 0 16px;
}
  
.list li .valign-wrapper {
    min-height: 72px;
}
  
.list i.circle {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.26);
}
  
.list .title span {
    color: rgba(0, 0, 0, 0.54);
}
  
.ml-auto {
    margin-left: auto;
}
  
i.ml-auto {
    color: rgba(0, 0, 0, 0.26);
}
  
/* ////////////////////////////// FOOTER //////////////////////////////*/
  
.list-footer  {
    height: 80px;
}

.footer-copyright  {
    height: 60px;
    margin-left: -300px;
    color: white;
}
