body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body.list {
  background-color: black;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
}

.dude {
  display: flex;
  justify-content: center;
}

audio { 
  width: 600px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

p {
  color:white;
  text-align: center;
}

#padding {
  padding: 100px;
}

.egg-shape{
  width: 70px;
  height: 70px;
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  border: 3px solid #1c446b;
  transform: rotate(-45deg);
  margin-top: 30px;
  background: #ffc000;
}

#screen {
  background-image: url(images/blueTamagotchi-1475-reducedgreen.jpg);
  background-position: center;
  /*width: fit-content;*/
  background-position-x: 47.5%;
  position: center;
  height: 50em;
  padding-top: 150px;
  padding-top: 10.75em;
}

#view-screen {
  /* margin-top: 19.5em;
  margin-right: 0.625em; */
  height: 21em;
  width: 24em;
  background-size: 48em 22em;
  border-radius: 0.9375em;
  margin-left: auto;
  margin-right: auto;
}

#modal1 {
  margin-top: 17em;
  /* margin-right: 52.5em; */
  height: 21em;
  width: 24em;
  /* background-size: 48em 22em; */
  border-radius: 0.9375em;
}

 /* ----------------------- BUTTONS ----------------------- */

 .audioBtns {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
 }

 .audioBtns > button {
  border-radius: 50%;
 }

.actionBtns{
  margin-top: 20px;
  text-align: center;
}

.updateStat {
  font-weight: bold;
  background-color: #e6e600;
  border-radius: 50%;
}

.power {
  margin-top: 0.5em;
  background-color: red;
}

.active {
  display: none;
}

#menu {
  height: 21em;
  width: 24em;
  border-radius: 0.9375em;
  background-image: url(/assets/sprite-sheet/raw-sprites/green-background.jpg);
}
#animalBox {
  width: 100%;
}

#logo {
  /* todo not truly centered, not sure how this'll do on mobile */
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.list {
  margin: 0;
}

.list li {
  padding: 0 16px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  right: 10%;  
}

/* ////////////////////////////// FOOTER //////////////////////////////*/

.copyright {
  float:left; 
  margin-left: 10px;
}

  
.list-footer  {
  height: 80px;
}

.footer-copyright  {
  height: 60px;
  color: white;
}

.footer-link {
  float: right; 
  margin-right: 10px;
  color: white;
}

#instructions {
  color: white;
}

/* unvisited link */
.link a:link {
  color: white;
}

/* visited link */
.link a:visited {
  color: white;
}

/* mouse over link */
.link a:hover {
  color: white;
}

/* selected link */
.link a:active {
  color: white;
}