body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body.list {
  background-color: black;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.dude {
  display: flex;
  justify-content: center;
}

.audioBtns {
  position: relative;
  overflow: hidden;
  bottom:0;
}

audio { 
  width: 600px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

p {
  color:white;
  text-align: center;
}

#padding {
  padding: 100px;
}

#screen {
  background-image: url(images/blueTamagotchi-1475.jpg);
  background-position: center;
  /*width: fit-content;*/
  background-position: center;
  position: center;
  height: 800px;
}

#view-screen {
  margin-top: 339px;
  margin-right: 10px;
  height: 20em;
  width: 20em;
  background-size: 40em 20em;
}

#actionButtons {
  text-align: center;
  margin-top: 325px;
}

.updateStat {
  background-color: #e6e600;
  border-radius: 50%;
}

.power {
  background-color: red;
}

.active {
  display: none;
}

#logo {
  /* todo not truly centered, not sure how this'll do on mobile */
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.list {
  margin: 0;
}

.list li {
  padding: 0 16px;
}

/* ////////////////////////////// FOOTER //////////////////////////////*/

.list-footer  {
height: 80px;
}

.footer-copyright  {
height: 30px;
color: white;
}
