body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

  body.list {
    background-color: black;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
  }

  .dude {
    display: flex;
    justify-content: center;
  }
  
  .audioBtns {
    position: relative;
    overflow: hidden;
    bottom:0;
  }

  audio { 
    width: 600px; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
  }

  p {
    color:white;
    text-align: center;
  }

  #padding {
    padding: 100px;
  }

  #screen {
    background-image: url(images/blueTamagotchiReduced.jpg);
    background-position: center;
    /*width: fit-content;*/
    background-position: center;
    position: center;
  }