body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body.list {
  background-color: black;
  -webkit-font-smoothing: antialiased;
}

.dude {
  display: flex;
  justify-content: center;
}

audio { 
  width: 600px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

p {
  color:white;
  text-align: center;
}

#padding {
  padding: 100px;
}
/* MOBILE FIRST */
#screen{
  background-image: none;
  background-color: #1565C0;
  border-radius: 30%;
  padding-top: 2em;
  width: 26em;
  height: 46em;
  padding-right: 0;
  padding-left: 0;
  margin: 0.5em;
}

/* BIGGER THAN A PHONE: ADD ADDITIONAL QUERIES AS SEEN FIT */
@media only screen and (min-width: 800px) { 
  #screen{
    width: 28em;
    height: 44em;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto; 
  }
}

#view-screen {
  height: 24em;
  width: 24em;
  background-size: 48em 24em;
  /* background-size: 168em 24em; */
  border-radius: 0.9375em;
  margin-left: auto;
  margin-right: auto; 
  box-shadow: 1px 1px 5px 5px #3787f2;
}

 /* ----------------------- BUTTONS ----------------------- */

 #showMenu{
  padding-top: 0;
  padding-bottom:0;
  text-align: center;
 }

 .audioBtns {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
 }

 .audioBtns > button {
  padding-top: 0;
  padding-bottom:0;
  border-radius: 50%;
 }

.actionBtns{
  margin-top: 2em;
  text-align: center;
}

.powerBtns{
  margin-top: 1em;
  text-align: center;
}

.updateStat {
  padding-top: 0;
  padding-bottom:0;
  text-align: center;
  font-weight: bold;
  background-color: #e6e600;
  border-radius: 50%;
}

.power {
  padding-top: 0;
  padding-bottom:0;
  text-align: center;
  background-color: red;
}

.active {
  display: none;
}

#menu {
  height: 24em;
  width: 24em;
  border-radius: 0.9375em;
  background-image: url(/assets/sprite-sheet/raw-sprites/green-background.jpg);
}

#animalBox {
  font-family: 'Press Start 2P', cursive;
  color:#3d3d3d;
  padding: 1em;
  width: 100%;
  text-transform: uppercase;
}

.progress {
  height: 0.5em;
  background-color: rgba(0,0,0,0);
  border: 1px dashed #3d3d3d;
}

#logo {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.list {
  margin: 0;
}

.list li {
  padding: 0 16px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 42%;
}

/* ////////////////////////////// FOOTER //////////////////////////////*/

.copyright {
  float:left; 
  margin-left: 10px;
}

  
.list-footer  {
  height: 80px;
}

.footer-copyright  {
  height: 60px;
  color: white;
}

.footer-link {
  float: right; 
  margin-right: 10px;
  color: white;
}

#instructions {
  color: white;
}

/* unvisited link */
.link a:link {
  color: white;
}

/* visited link */
.link a:visited {
  color: white;
}

/* mouse over link */
.link a:hover {
  color: white;
}

/* selected link */
.link a:active {
  color: white;
}